<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: dynamic(~{::main})}">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <main th:object="${item}">
        <div class="container mb-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="bg-image hover-zoom">
                        <img th:src="${ (#strings.startsWith(item.image,'upload') ? '/upload/images/':'/assets/images/') + (!#strings.isEmpty(item.image)? item.image : 'default-product.jpg')  }"
                            class="card-img-top" alt="Error loading image" />
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 class="fw-bold mb-4" th:text="*{name}"></h3>
                    <p th:if="*{sale_off != 0}" class="fw-lighttext-secondary mb-4">
                        <del class="small">đ [(*{price})]</del>
                        <span class="fw-bold">
                            đ [(*{price} - ( *{price} * *{sale_off} / 100 ) )]
                        </span>
                    </p>
                    <p th:if="*{sale_off == 0 || sale_off == null}" class="fw-light text-secondary mb-4">
                        đ <span th:text="*{price}"></span>
                    </p>
                    <div th:if="*{sale_off != 0}" class="mb-4">
                        <span class="">Giảm: </span>
                        <button class="mx-2 btn btn-outline-danger btn-sm">[(*{sale_off})]%</button>
                    </div>
                    <div class="mb-4">
                        <span class="">Kích cỡ: </span>
                        <button class="mx-2 btn btn-outline-secondary btn-sm">[(*{size.value})]</button>
                        <a class="" data-mdb-toggle="modal" data-mdb-target="#exampleModal">Tính size</a>
                    </div>

                    <div class="mb-4">
                        <span class="">Màu sắc: </span>
                        <button class="btn mx-2 btn-outline-secondary btn-sm">[(*{color.name})]</button>
                    </div>
                    <br>
                    <br>
                    <p class="fw-normal  mb-4" th:text="*{description}"></p>
                    <p class="text-center row">
                        <button type="button" class="btn btn-outline-secondary py-2" data-mdb-ripple-color="dark"
                            th:attr=" ng-click='cart.add(' + ${id} + ')' ">Thêm vào giỏ</button>
                    </p>
                </div>
            </div>

            <hr class="my-4">

            <!-- relevant products START-->
            <div class="row row-cols-md-4 row-cols-sm-2 text-center d-flex justify-content-start mb-4">
                <div class="col-md-3 pb-1" th:each="p,iterStat   : ${item.category.products}">
                    <!-- index loop start at 0, limit only show 4 relevant products and filtered out deleted prod -->
                    <th:block th:if="${p.isDeleted == false and iterStat.index &lt; 3}">
                        <div class="card">
                            <a th:href="@{|/product/detail/${p.id}|}">
                                <div class="bg-image hover-zoom">
                                    <img th:src="${ (#strings.startsWith(p.image,'upload') ? '/upload/images/':'/assets/images/') + (!#strings.isEmpty(p.image)? p.image : 'default-product.jpg') }"
                                        class="card-img-top" alt="Error loading image..." />
                                </div>
                            </a>
                            <div class="card-body text-center">
                                <h5 class="card-title" th:text="${p.name}"></h5>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
            <!-- relevant products END-->
        </div>

        <hr class="my-5">

        <div class="row mb-4">
            <!-- begin wwww.htmlcommentbox.com -->
            <div id="HCB_comment_box"><a href="http://www.htmlcommentbox.com">Comment Box</a> is loading comments...</div>
            <link rel="stylesheet" type="text/css" href="https://www.htmlcommentbox.com/static/skins/bootstrap/twitter-bootstrap.css?v=0" />
            <script type="text/javascript" id="hcb"> /*<!--*/ if(!window.hcb_user){hcb_user={};} (function(){var s=document.createElement("script"), l=hcb_user.PAGE || (""+window.location).replace(/'/g,"%27"), h="https://www.htmlcommentbox.com";s.setAttribute("type","text/javascript");s.setAttribute("src", h+"/jread?page="+encodeURIComponent(l).replace("+","%2B")+"&mod=%241%24wq1rdBcg%24533qO6yUQeDfBRD5uca5V1"+"&opts=16798&num=10&ts=1670780900985");if (typeof s!="undefined") document.getElementsByTagName("head")[0].appendChild(s);})();</script>
            <!-- end www.htmlcommentbox.com -->
        </div>

        <!-- Modal content-->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Hướng dẫn chọn size</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row p-1">
                            <img class="col-md-3" src="/assets/images/anh1.png">
                            <div class="col-md-9">01. Vẽ khung bàn chân.<br>Đặt bàn chân lên tờ giấy trắng, dùng bút đánh dấu theo khung bàn chân
                                trên giấy.
                            </div>
                        </div>
                        <div class="row p-1">
                            <img class="col-md-3" src="/assets/images/anh2.png">
                            <div class="col-md-9">02. Đo chiều dài bàn chân.<br>Dùng thước đo chiều dài lớn nhất từ mũi chân đến gót chân trên khung
                                bàn
                                chân đã đánh đấu.</div>
                        </div>
                        <div class="row p-1">
                            <img class="col-md-3" src="/assets/images/anh3.png">
                            <div class="col-md-9">03. Đo độ rộng vòng chân.<br>Lấy thước dây quấn quanh 1 vòng bàn chân từ khớp ngón chân cái đến
                                khớp ngón
                                chân út.</div>
                        </div>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Size</th>
                                    <th scope="col">Độ Rộng</th>
                                    <th scope="col">Độ dài</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>35</th>
                                    <th>8.5</th>
                                    <th>22.1 - 22.5</th>
                                </tr>
                                <tr>
                                    <th>36</th>
                                    <th>8.5 - 9</th>
                                    <th>22.6 - 23</th>
                                </tr>
                                <tr>
                                    <th>37</th>
                                    <th>9</th>
                                    <th>23.1 - 23.5</th>
                                </tr>
                                <tr>
                                    <th>38</th>
                                    <th>9 - 9.5</th>
                                    <th>23.6 - 24</th>
                                </tr>
                                <tr>
                                    <th>39</th>
                                    <th>9.5</th>
                                    <th>24.1 - 24.5</th>
                                </tr>
                                <tr>
                                    <th>40</th>
                                    <th>9.5 - 10</th>
                                    <th>24.6 - 25</th>
                                </tr>
                                <tr>
                                    <th>41</th>
                                    <th>10</th>
                                    <th>25.1 - 25.5</th>
                                </tr>
                                <tr>
                                    <th>42</th>
                                    <th>10 - 10.5</th>
                                    <th>25.6 - 26</th>
                                </tr>
                                <tr>
                                    <th>43</th>
                                    <th>10.5</th>
                                    <th>26.1 - 26.5 </th>
                                </tr>
                                <tr>
                                    <th>44</th>
                                    <th>10.5 - 11</th>
                                    <th>26.6 - 27</th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal content - end -->
    </main>
</body>

</html>