body {
	background-color: white;
	color: black;
}

.divider:after,
.divider:before {
	content: "";
	flex: 1;
	height: 1px;
	background: #eee;
}

/* 													for dark mode feature*/
.dark-mode {
	background-color: rgb(24, 26, 27) !important;
	color: white !important;
}

.btn-toggle {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
}

.label-top {
	position: absolute;
	background-color: var(--label-index);
	color: #fff;
	top: 8px;
	right: 8px;
	padding: 5px 10px 5px 10px;
	font-size: .7rem;
	font-weight: 600;
	border-radius: 3px;
	text-transform: uppercase;
}