<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="aboutModalLabel">Về chúng tôi</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-2">
                <div class="row mb-3 text-center">
                    <figure>
                        <blockquote class="blockquote">
                            <p>"Chúng tôi là những cá thể bình thường nhưng kỹ năng và tâm trí thì không bình thường."</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Mr. TR tại <cite title="Source Title">CipherianCorp</cite>
                        </figcaption>
                    </figure>
                    <figure>

                    </figure>
                </div>
                <div class="row justify-content-center row-cols-3">
                    <div class="col-sm-12 col-lg-3 my-2">
                        <div class="card">
                            <img src="https://i1.sndcdn.com/artworks-sUZuSm54AvHM5DzC-sRJf4A-t500x500.jpg" class="card-img-top" alt="..." height="200"
                                width="160" loading="lazy">
                            <div class="card-body">
                                <h5 class="card-title">Mr. TR</h5>
                                <p class="card-text">
                                    Sức mạnh:
                                <ul>
                                    <li>Điều khiển vật chất</li>
                                    <li>Thao túng nước mía và đèn cầy</li>
                                </ul>
                                </p>
                                <div class="row justify-content-center">
                                    <a href="https://github.com/CipherianCorporation" class="btn btn-primary"><i class="fab fa-github me-2"></i>Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 my-2">
                        <div class="card">
                            <img src="https://i1.sndcdn.com/artworks-sUZuSm54AvHM5DzC-sRJf4A-t500x500.jpg" class="card-img-top" alt="..." height="200"
                                width="160" loading="lazy">
                            <div class="card-body">
                                <h5 class="card-title">Mr. A</h5>
                                <p class="card-text">
                                    Sức mạnh:
                                <ul>
                                    <li>Điều khiển không thời gian</li>
                                    <li>Đảo ngược đồng hồ</li>
                                </ul>
                                </p>
                                <div class="row justify-content-center">
                                    <a href="https://github.com/CipherianCorporation" class="btn btn-primary"><i class="fab fa-github me-2"></i>Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 my-2">
                        <div class="card">
                            <img src="https://i1.sndcdn.com/artworks-sUZuSm54AvHM5DzC-sRJf4A-t500x500.jpg" class="card-img-top" alt="..." height="200"
                                width="160" loading="lazy">
                            <div class="card-body">
                                <h5 class="card-title">Mr. TA</h5>
                                <p class="card-text">
                                    Sức mạnh:
                                <ul>
                                    <li>Hô biến gió trời</li>
                                    <li>Sở hữu thiên nhãn nhìn thấu thịt bò</li>
                                </ul>
                                </p>
                                <div class="row justify-content-center">
                                    <a href="https://github.com/CipherianCorporation" class="btn btn-primary"><i class="fab fa-github me-2"></i>Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 my-2">
                        <div class="card">
                            <img src="https://i1.sndcdn.com/artworks-sUZuSm54AvHM5DzC-sRJf4A-t500x500.jpg" class="card-img-top" alt="..." height="200"
                                width="160" loading="lazy">
                            <div class="card-body">
                                <h5 class="card-title">Mr. H</h5>
                                <p class="card-text">
                                    Sức mạnh:
                                <ul>
                                    <li>Triệu hồi dừa</li>
                                    <li>Hóa thân thành nước sông</li>
                                </ul>
                                </p>
                                <div class="row justify-content-center">
                                    <a href="https://github.com/CipherianCorporation" class="btn btn-primary"><i class="fab fa-github me-2"></i>Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 my-2">
                        <div class="card">
                            <img src="https://i1.sndcdn.com/artworks-sUZuSm54AvHM5DzC-sRJf4A-t500x500.jpg" class="card-img-top" alt="..." height="200"
                                width="160" loading="lazy">
                            <div class="card-body">
                                <h5 class="card-title">Mr. TH</h5>
                                <p class="card-text">
                                    Sức mạnh:
                                <ul>
                                    <li>Thao túng bãi biển</li>
                                    <li>Điều khiển ánh sáng đèn pin</li>
                                </ul>
                                </p>
                                <div class="row justify-content-center">
                                    <a href="https://github.com/CipherianCorporation" class="btn btn-primary"><i class="fab fa-github me-2"></i>Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-3 my-2">
                        <div class="card">
                            <img src="http://cdn.tgdd.vn/Files/2021/07/21/1369655/1-ly-ca-phe-sua-bao-nhieu-calo-uong-ca-phe-co-giam-can-202107210236314465.jpg"
                                class="card-img-top" alt="..." height="200" width="160" loading="lazy">
                            <div class="card-body">
                                <h5 class="card-title">Mr. Cà Phê</h5>
                                <p class="card-text">
                                    Sức mạnh:
                                <ul>
                                    <li>Buff X3 kỹ năng code cho team</li>
                                    <li>Phê</li>
                                </ul>
                                </p>
                                <div class="row justify-content-center">
                                    <a href="https://github.com/CipherianCorporation" class="btn btn-primary"><i class="fab fa-github me-2"></i>Github</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>