<!-- Term Modal -->
<div class="modal fade" id="termModal" tabindex="-1" aria-labelledby="termModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="termModalLabel">Điều khoản dịch vụ</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h1> Chính sách quyền riêng tư dành cho ShoeShy </h1>

                <p> Tại SHOESHY, có thể truy cập từ https://shoeshy.herokuapp.com/, một trong những ưu tiên chính của chúng tôi là quyền riêng tư của khách truy
                    cập. Chính sách quyền riêng tư này
                    tài liệu chứa các loại thông tin được SHOESHY thu thập và ghi lại cũng như cách chúng tôi sử dụng thông tin đó. </p>

                <p> Nếu bạn có thêm câu hỏi hoặc yêu cầu thêm thông tin về Chính sách quyền riêng tư của chúng tôi, vui lòng liên hệ với chúng tôi. </p>

                <p> Chính sách Bảo mật này chỉ áp dụng cho các hoạt động trực tuyến của chúng tôi và có giá trị đối với những khách truy cập vào trang web của
                    chúng tôi liên quan đến thông tin mà họ
                    được chia sẻ và / hoặc thu thập trong SHOESHY. Chính sách này không áp dụng cho bất kỳ thông tin nào được thu thập ngoại tuyến hoặc qua các
                    kênh khác ngoài kênh này
                    trang mạng. Chính sách Bảo mật của chúng tôi được tạo với sự trợ giúp của <a href="https://www.privacypolicygenerator.info/"> Chính sách Bảo
                        mật Miễn phí
                        Máy phát điện </a>. </p>

                <h2> Sự đồng ý </h2>

                <p> Bằng cách sử dụng trang web của chúng tôi, bạn đồng ý với Chính sách quyền riêng tư của chúng tôi và đồng ý với các điều khoản của nó. </p>

                <h2> Thông tin chúng tôi thu thập </h2>

                <p> Thông tin cá nhân mà bạn được yêu cầu cung cấp và lý do tại sao bạn được yêu cầu cung cấp, sẽ được làm rõ cho bạn tại
                    chúng tôi yêu cầu bạn cung cấp thông tin cá nhân của bạn. </p>
                <p> Nếu bạn liên hệ trực tiếp với chúng tôi, chúng tôi có thể nhận được thông tin bổ sung về bạn như tên, địa chỉ email, số điện thoại, nội dung
                    của
                    tin nhắn và / hoặc tệp đính kèm mà bạn có thể gửi cho chúng tôi cũng như bất kỳ thông tin nào khác mà bạn có thể chọn cung cấp. </p>
                <p> Khi bạn đăng ký Tài khoản, chúng tôi có thể yêu cầu thông tin liên hệ của bạn, bao gồm các mục như tên, tên công ty, địa chỉ, email
                    địa chỉ và số điện thoại. </p>

                <h2> Cách chúng tôi sử dụng thông tin của bạn </h2>

                <p> Chúng tôi sử dụng thông tin thu thập được theo nhiều cách khác nhau, bao gồm: </p>

                <ul>
                    <li> Cung cấp, vận hành và duy trì trang web của chúng tôi </li>
                    <li> Cải thiện, cá nhân hóa và mở rộng trang web của chúng tôi </li>
                    <li> Hiểu và phân tích cách bạn sử dụng trang web của chúng tôi </li>
                    <li> Phát triển các sản phẩm, dịch vụ, tính năng và chức năng mới </li>
                    <li> Liên hệ với bạn, trực tiếp hoặc thông qua một trong các đối tác của chúng tôi, bao gồm cả dịch vụ khách hàng, để cung cấp cho bạn các
                        bản cập nhật và
                        thông tin khác liên quan đến trang web và cho các mục đích tiếp thị và quảng cáo </li>
                    <li> Gửi cho bạn email </li>
                    <li> Tìm và ngăn chặn gian lận </li>
                </ul>

                <h2> Tệp nhật ký </h2>

                <p> SHOESHY tuân theo quy trình chuẩn của việc sử dụng tệp nhật ký. Các tệp này ghi nhật ký khách truy cập khi họ truy cập các trang web. Tất cả
                    các công ty lưu trữ đều làm điều này và
                    một phần của phân tích dịch vụ lưu trữ. Thông tin được thu thập bởi các tệp nhật ký bao gồm địa chỉ giao thức internet (IP), loại trình
                    duyệt,
                    Nhà cung cấp dịch vụ Internet (ISP), dấu ngày và giờ, các trang giới thiệu / thoát và có thể là số lần nhấp chuột. Chúng không được liên kết
                    với bất kỳ
                    thông tin có thể nhận dạng cá nhân. Mục đích của thông tin là để phân tích xu hướng, quản trị trang web, theo dõi người dùng '
                    chuyển động trên trang web và thu thập thông tin nhân khẩu học. </p>

                <h2> Cookie và Web Beacons </h2>

                <p> Giống như bất kỳ trang web nào khác, SHOESHY sử dụng 'cookie'. Những cookie này được sử dụng để lưu trữ thông tin bao gồm sở thích của khách
                    truy cập và các trang trên
                    trang web mà khách đã truy cập hoặc đã truy cập. Thông tin được sử dụng để tối ưu hóa trải nghiệm của người dùng bằng cách tùy chỉnh trang
                    web của chúng tôi
                    nội dung dựa trên loại trình duyệt của khách truy cập và / hoặc thông tin khác. </p>



                <h2> Chính sách Bảo mật của Đối tác Quảng cáo </h2>

                <P> Bạn có thể tham khảo danh sách này để tìm Chính sách bảo mật cho từng đối tác quảng cáo của SHOESHY. </p>

                <p> Các máy chủ quảng cáo hoặc mạng quảng cáo của bên thứ ba sử dụng các công nghệ như cookie, JavaScript hoặc Biểu tượng web được sử dụng trong
                    các công nghệ tương ứng
                    quảng cáo và liên kết xuất hiện trên SHOESHY, được gửi trực tiếp đến trình duyệt của người dùng. Họ tự động nhận địa chỉ IP của bạn khi
                    điều này xảy ra. Những công nghệ này được sử dụng để đo lường hiệu quả của các chiến dịch quảng cáo của họ và / hoặc để cá nhân hóa quảng
                    cáo
                    nội dung mà bạn thấy trên các trang web mà bạn truy cập. </p>

                <p> Lưu ý rằng SHOESHY không có quyền truy cập hoặc kiểm soát các cookie được các nhà quảng cáo bên thứ ba sử dụng. </p>

                <h2> Chính sách bảo mật của bên thứ ba </h2>

                <p> Chính sách Bảo mật của SHOESHY không áp dụng cho các nhà quảng cáo hoặc trang web khác. Do đó, chúng tôi khuyên bạn nên tham khảo Quyền
                    riêng tư tương ứng
                    Chính sách của các máy chủ quảng cáo của bên thứ ba này để biết thêm thông tin chi tiết. Nó có thể bao gồm các thực hành và hướng dẫn của họ
                    về cách chọn không tham gia
                    trong số các tùy chọn nhất định. </p>

                <p> Bạn có thể chọn tắt cookie thông qua các tùy chọn trình duyệt riêng lẻ của mình. Để biết thêm thông tin chi tiết về quản lý cookie với
                    trình duyệt web cụ thể, nó có thể được tìm thấy tại các trang web tương ứng của trình duyệt. </p>

                <h2> Quyền riêng tư của CCPA (Không bán thông tin cá nhân của tôi) </h2>

                <p> Theo CCPA, trong số các quyền khác, người tiêu dùng California có quyền: </p>
                <p> Yêu cầu một doanh nghiệp thu thập dữ liệu cá nhân của người tiêu dùng tiết lộ các danh mục và phần dữ liệu cá nhân cụ thể mà một doanh
                    nghiệp
                    đã thu thập thông tin về người tiêu dùng. </p>
                <p> Yêu cầu doanh nghiệp xóa mọi dữ liệu cá nhân về người tiêu dùng mà doanh nghiệp đã thu thập. </p>
                <p> Yêu cầu doanh nghiệp bán dữ liệu cá nhân của người tiêu dùng, không bán dữ liệu cá nhân của người tiêu dùng. </p>
                <p> Nếu bạn đưa ra yêu cầu, chúng tôi có một tháng để trả lời bạn. Nếu bạn muốn thực hiện bất kỳ quyền nào trong số này, vui lòng liên hệ với
                    chúng tôi. </p>

                <h2> Quyền bảo vệ dữ liệu GDPR </h2>

                <p> Chúng tôi muốn đảm bảo rằng bạn nhận thức đầy đủ về tất cả các quyền bảo vệ dữ liệu của mình. Mọi người dùng đều có quyền sau đây: </p>
                <p> Quyền truy cập - Bạn có quyền yêu cầu bản sao dữ liệu cá nhân của mình. Chúng tôi có thể tính cho bạn một khoản phí nhỏ cho dịch vụ này.
                </p>
                <p> Quyền cải chính - Bạn có quyền yêu cầu chúng tôi chỉnh sửa bất kỳ thông tin nào mà bạn cho là không chính xác. Bạn cũng có quyền
                    để yêu cầu chúng tôi hoàn thành thông tin mà bạn cho là chưa đầy đủ. </p>
                <p> Quyền xóa - Bạn có quyền yêu cầu chúng tôi xóa dữ liệu cá nhân của bạn, theo một số điều kiện nhất định. </p>
                <p> Quyền hạn chế xử lý - Bạn có quyền yêu cầu chúng tôi hạn chế việc xử lý dữ liệu cá nhân của bạn, theo một số
                    điều kiện. </p>
                <p> Quyền phản đối việc xử lý - Bạn có quyền phản đối việc chúng tôi xử lý dữ liệu cá nhân của bạn, trong một số điều kiện nhất định. </p>
                <p> Quyền đối với tính khả chuyển của dữ liệu - Bạn có quyền yêu cầu chúng tôi chuyển dữ liệu mà chúng tôi đã thu thập cho một tổ chức khác hoặc
                    trực tiếp cho bạn, trong những điều kiện nhất định. </p>
                <p> Nếu bạn đưa ra yêu cầu, chúng tôi có một tháng để trả lời bạn. Nếu bạn muốn thực hiện bất kỳ quyền nào trong số này, vui lòng liên hệ với
                    chúng tôi. </p>

                <h2> Thông tin trẻ em </h2>

                <p> Một phần ưu tiên khác của chúng tôi là tăng cường bảo vệ trẻ em khi sử dụng Internet. Chúng tôi khuyến khích cha mẹ và người giám hộ quan
                    sát,
                    tham gia và / hoặc giám sát và hướng dẫn hoạt động trực tuyến của họ. </p>

                <p> SHOESHY không cố ý thu thập bất kỳ Thông tin Nhận dạng Cá nhân nào từ trẻ em dưới 13 tuổi. Nếu bạn nghĩ rằng con mình
                    đã cung cấp loại thông tin này trên trang web của chúng tôi, chúng tôi đặc biệt khuyến khích bạn liên hệ với chúng tôi ngay lập tức và chúng
                    tôi sẽ cố gắng hết sức để
                    ngay lập tức xóa thông tin đó khỏi hồ sơ của chúng tôi. </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>