<form class="form" enctype="multipart/form-data" name="myNewForm" novalidate>
    <!-- Text input -->
    <div class="mb-2">
        <label for="newFormImage">
            <img ng-src="{{ (newForm.image_url.startsWith('upload')?'/upload/images/':'/assets/images/') + (newForm.image_url || 'default-user.jpg') }}"
                class="card-img image" style="max-width: 20vw; max-height: 20vh;" alt="User image">
        </label>
    </div>
    <div class="mb-4">
        <input type="file" class="form-control" id="newFormImage" ng-model="newForm.image_url"
            onchange="angular.element(this).scope().imageChanged(this.files)" />
    </div>

    <!-- Text input -->
    <label for="newFormUsername">Tên nguời dùng</label>
    <div class="form-outline-primary mb-4">
        <input ng-model="newForm.username" name="username" ng-keyup="checkUsernameValid()" type="text" id="newFormUsername" class="form-control" required />
        <div class="text-danger" ng-show="checkUsernameValid()">Tên người dùng đã tồn tại</div>
        <div class="text-danger" ng-show="myNewForm.username.$invalid">Làm ơn nhập tên người dùng hợp lệ.</div>
    </div>

    <!-- Text input -->
    <label for="newFormPassword">Mật khẩu</label>
    <div class="form-outline-primary mb-4">
        <input ng-model="newForm.password" name="password" type="password" id="newFormPassword" class="form-control" minlength="6" required />
        <div class="text-danger" ng-show="myNewForm.password.$invalid">Làm ơn nhập mật khẩu hợp lệ.</div>
    </div>

    <!-- Text input -->
    <label for="newFormFullname">Họ và tên</label>
    <div class="form-outline-primary mb-4">
        <input ng-model="newForm.fullname" name="fullname" type="text" id="newFormFullname" class="form-control" required />
        <div class="text-danger" ng-show="myNewForm.fullname.$invalid">Làm ơn nhập họ và tên hợp lệ.</div>
    </div>

    <!-- Text input -->
    <label for="newFormEmail">Email</label>
    <div class="form-outline-primary mb-4">
        <input ng-model="newForm.email" name="email" type="email" id="newFormEmail" class="form-control" required />
        <div class="text-danger" ng-show="myNewForm.email.$invalid">Làm ơn nhập email hợp lệ.</div>
    </div>

    <!-- Number input -->
    <label for="newFormPhone">Số điện thoại</label>
    <div class="form-outline-primary mb-4">
        <input ng-model="newForm.phone" name="phone" type="number" id="newFormPhone" class="form-control" required />
        <div class="text-danger" ng-show="myNewForm.phone.$invalid">Làm ơn nhập số điện thoại hợp lệ.</div>
    </div>

    <!-- Text input -->
    <label for="newFormAddress">Địa chỉ</label>
    <div class="form-outline-primary mb-4">
        <input ng-model="newForm.address" name="address" type="text" id="newFormAddress" class="form-control" required />
        <div class="text-danger" ng-show="myNewForm.address.$invalid">Làm ơn nhập địa chỉ hợp lệ.</div>
    </div>
    <div class="mb-4">
        <label>Roles</label>
        <select ng-model="newForm.role" ng-init="newForm.role = newForm.role || roles[0].id" ng-options="option.id as option.name for option in roles"
            class="form-control">
        </select>
    </div>

    <!-- Submit button -->
    <button ng-disabled="myNewForm.$invalid || checkUsernameValid()" ng-click="create()" type="submit" class="btn btn-success btn-block mb-4">Tạo mới</button>
</form>