<form class="form" enctype="multipart/form-data" name="myform" novalidate>

    <!-- Text input -->
    <div class="mb-2">
        <img ng-src="{{ (form.image_url.startsWith('upload')?'/upload/images/':'/assets/images/') + (form.image_url || 'default-user.jpg') }}"
                        style="max-width: 20vw; max-height: 20vh;" alt="User image">
    </div>
    <div class="mb-4">
        <input type="file" class="form-control" id="customFile" ng-model="form.image_url" onchange="angular.element(this).scope().imageChanged(this.files)"/>
    </div>

    <!-- Text input -->
    <label for="form6Example3">Tên nguời dùng</label>
    <div class="form-outline-primary mb-4">
        <input ng-model="form.username" name="username" type="text" id="form6Example3" class="form-control" />
        <div class="text-danger" ng-show="myform.username.$invalid">Làm ơn nhập tên người dùng hợp lệ.</div>
    </div>

    <!-- Text input -->
    <label for="form6Example3">Mật khẩu</label>
    <div class="form-outline-primary mb-4">
        <input ng-model="form.password" name="password" type="password" id="form6Example4" class="form-control" />
        <div class="text-danger" ng-show="myform.password.$invalid">Làm ơn nhập mật khẩu hợp lệ.</div>
    </div>
    
     <!-- Text input -->
    <label for="form6Example3">Họ và tên</label>
    <div class="form-outline-primary mb-4">
        <input ng-model="form.fullname" name="fullname" type="text" id="form6Example3" class="form-control" />
        <div class="text-danger" ng-show="myform.fullname.$invalid">Làm ơn nhập họ và tên hợp lệ.</div>
    </div>

    <!-- Text input -->
    <label for="form6Example3">Email</label>
    <div class="form-outline-primary mb-4">
        <input ng-model="form.email" name="email" type="email" id="form6Example4" class="form-control" />
        <div class="text-danger" ng-show="myform.email.$invalid">Làm ơn nhập email hợp lệ.</div>
    </div>

    <!-- Number input -->
    <label for="form6Example3">Số điện thoại</label>
    <div class="form-outline-primary mb-4">
        <input ng-model="form.phone" name="phone" type="number" id="form6Example6" class="form-control" />
        <div class="text-danger" ng-show="myform.phone.$invalid">Làm ơn nhập số điện thoại hợp lệ.</div>
    </div>
    
     <!-- Text input -->
    <label for="form6Example3">Địa chỉ</label>
    <div class="form-outline-primary mb-4">
        <input ng-model="form.address" name="address" type="text" id="form6Example3" class="form-control" />
        <div class="text-danger" ng-show="myform.address.$invalid">Làm ơn nhập địa chỉ hợp lệ.</div>
    </div>
	<div class="mb-4">
		<label>Roles:</label> 
		<select ng-model="form.role"
			ng-init="form.role = form.role || roles[0].id"
			ng-options="option.id as option.name for option in roles"
			class="form-control">
		</select>
	</div>

	<!-- Submit button -->
    <button ng-disabled="myform.$invalid" ng-click="create()" type="submit" class="btn btn-success btn-block mt-4 mb-4">Tạo mới</button>
</form>