<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: dynamic(~{::section})}">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section>
        <div class="card mb-4">
            <div class="card-header">
                <b>
                    <h3>Thông Tin Đơn Hàng</h3>
                </b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="mb-2 col-sm-4">
                        <div><b>Mã đơn hàng</b></div>
                        <input type="text" class="form-control" readonly="readonly" ng-model="form.order.id">
                    </div>
                    <div class="mb-2 col-sm-4">
                        <div><b>Người đặt hàng</b></div>
                        <input type="text" class="form-control" readonly="readonly" ng-model="form.order.user.fullname">
                    </div>
                    <div class="mb-2 col-sm-4">
                        <div><b>Ngày đặt hàng</b></div>
                        <input type="text" class="form-control" readonly="readonly" ng-model="form.order.createdAt">
                    </div>
                    <div class="mb-2 col-sm-4">
                        <div><b>Giá Tiền</b></div>
                        <input type="text" class="form-control" readonly="readonly" ng-model="form.order.total">
                    </div>
                    <div class="mb-2 col-sm-4">
                        <div><b>Phương thức thanh toán</b></div>
                        <input type="text" class="form-control" readonly="readonly" ng-model="form.order.payment_method">
                    </div>

                    <div class="mb-2 col-sm-4">
                        <div><b>Trạng thái đơn hàng</b></div>
                        <input type="text" class="form-control" readonly="readonly" ng-model="form.order.orderStatus.name">
                    </div>
                    <div class="mb-2 col-sm-4">
                        <div><b>SDT</b></div>
                        <input type="text" class="form-control" readonly="readonly" ng-model="form.order.user.phone">
                    </div>
                    <div class="mb-2 col-sm-8">
                        <div><b>Địa chỉ giao hàng</b></div>
                        <input class="form-control" readonly="readonly" ng-model="form.order.address"></input>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <b>
                    <h3>Đơn Đặt Hàng</h3>
                </b>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><b>Mã Đơn Hàng</b></th>
                                <th><b>Tên Sản Phẩm</b></th>
                                <th><b>Giá Sản Phẩm</b></th>
                                <th><b>Số Lượng</b></th>
                                <th><b>Tổng Cộng</b></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in detail_items">
                                <td><b>{{item.order.id}}</b></td>
                                <td>{{item.product.name}}</td>
                                <td>{{item.product.price | currency :'đ':0}}</td>
                                <td>{{item.quantity}}</td>
                                <td><b>{{item.product.price*item.quantity | currency :'đ':0}}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div>
            <a th:href="@{/order/list}"><button class="btn btn-lg btn-danger">Back</button></a>
        </div>
    </section>
</body>

</html>