<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: dynamic(~{::section})}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section>
        <div class="card mb-3">
            <div class="card-header">
                <b>
                    <h3>Danh Sách Đặt Hàng</h3>
                </b>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><b>STT</b></th>
                                <th><b>Mã đơn hàng</b></th>
                                <th><b>Ngày đặt hàng</b></th>
                                <th><b>Tổng cộng</b></th>
                                <th><b>Trạng thái</b></th>
                                <th><b>Phương thức thanh toán</b></th>
                                <th><b>Địa chỉ nhận hàng</b></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>1</b></td>
                                <td>0001</td>
                                <td>27/09/2022</td>
                                <td><b>
                                        <h6>2.000.000</h6>
                                    </b></td>
                                <td><b class="text-success">Đang vận chuyển</b></td>
                                <td>Ship COD</td>
                                <td>167 Đặng Thùy Trâm, p13, Bình Thạnh</td>
                                <td>
                                    <a href="#!order-detail" class="btn btn-secondary">
                                        <i class="fas fa-arrow-right"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>

</html>