<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
        <li class="breadcrumb-item active"><a href="/">Sản phẩm</a></li>
    </ol>
</nav>
<div class="accordion mb-2" id="accordionExample1">
    <div class="accordion-item">
        <h2 class="accordion-header" id="categoryHeading">
            <button class="accordion-button text-reset" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">
                Danh mục
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="categoryHeading" data-mdb-parent="#accordionExample1">
            <div class="accordion-body">
                <ul class="list-group list-group-light">
                    <li class="list-group-item" ng-repeat="ca in categories">
                        <!-- collapse button -->
                        <strong>{{ca.name}}</strong>

                        <!-- collapse content -->
                        <ul class="list-group list-group-light" ng-init="showSubCates(ca.id)">
                            <li class="list-group-item" ng-repeat="sub in sub_categories">+ {{sub.name}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="accordion mb-3" id="accordionExample2">
    <div class="accordion-item">
        <h2 class="accordion-header" id="filterHeading">
            <button class="accordion-button text-reset" type="button" data-mdb-toggle="collapse" data-mdb-target="#collapseTwo" aria-expanded="true"
                aria-controls="collapseTwo">
                Lọc sản phẩm
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="filterHeading" data-mdb-parent="#accordionExample2">
            <div class="accordion-body">
                <div class="d-grid gap-2">
                    <button class="btn btn-secondary" ng-click="getProductList()">Bỏ lọc</button>
                </div>
                <ul class="list-group list-group-light">
                    <li class="list-group-item">
                        <!-- collapse button -->
                        <strong>Màu sắc</strong>

                        <!-- collapse content -->
                        <ul class="list-group list-group-light">
                            <li class="list-group-item">
                                <!-- Default checkbox -->
                                <div class="form-check" ng-repeat="p in colorArr">
                                    <input class="form-check-input" type="radio" id="{{p.id}}" ng-model="p.name"
                                        ng-click="filterProductsBySelectedColor(p.name)" name="filterColor" value="{{p.name}}" />
                                    <label class="form-check-label" for="{{p.id}}">{{p.value}}</label>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

                <ul class="list-group list-group-light">
                    <li class="list-group-item">
                        <!-- collapse button -->
                        <strong>Giá</strong>

                        <!-- collapse content -->
                        <ul class="list-group list-group-light">
                            <li class="list-group-item">
                                <!-- Default checkbox -->
                                <div class="range">
                                    <input type="range" class="form-range" min="{{rangeUI.min}}" max="{{rangeUI.max}}" value="{{rangeUI.value}}"
                                        step="{{rangeUI.step}}" id="priceRange" ng-model="priceRange" />
                                </div>
                                <span ng-hide="priceRange === 0">đ0 - </span>{{priceRange | currency:"đ":0}}
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>