<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header th:fragment="header" style="margin-bottom: 10vh;">
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light mb-4">
            <!-- Container wrapper -->
            <div class="container">
                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Navbar brand -->
                    <a class="navbar-brand mt-2 mt-lg-0" th:href="@{/}">
                        <img src="/assets/images/shoeshy-logo.png" height="35" alt="ShoeShy Logo" loading="lazy" />
                        <!-- <small>ShoeShy</small> -->
                    </a>
                    <!-- Left links -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <!-- category list START -->
                        <li class="nav-item" ng-repeat="ca in categories">
                            <a class="nav-link" href="" ng-click="filterProductByCategory(ca.id)">
                                <img ng-src="{{ (ca.image_url.startsWith('upload')?'/upload/images/':'/assets/images/') + (ca.image_url || 'default-category.jpg') }}"
                                    class="rounded-circle" height="22" alt="category icon" loading="lazy" />
                                {{ca.name}}
                            </a>
                        </li>
                        <!-- category list END -->

                        <li class="nav-item">
                            <a class="nav-link" href="" ng-click="filterProductBySaleOff()">
                                <img src="https://cdn2.iconfinder.com/data/icons/ecommerce-solid-icons-vol-2/64/088-512.png" class="rounded-circle" height="22"
                                    alt="Black and White Portrait of a Man" loading="lazy">
                                Sale off
                            </a>
                        </li>
                    </ul>
                    <!-- search input -->
                    <form class="d-flex input-group w-auto ">
                        <input type="search" class="form-control rounded" placeholder="Tìm..." aria-label="Search" aria-describedby="search-addon"
                            ng-model="searchTextProdList" />
                        <span class="input-group-text border-0" id="search-addon">
                            <i class="fas fa-search"></i>
                        </span>
                    </form>
                </div>
                <!-- Right elements -->
                <div class="d-flex align-items-center">

                    <!-- Icon Cart -->
                    <a class="text-reset position-relative me-3" th:href="@{/cart/view}">
                        <i class="fas fa-shopping-bag fa-lg me-2"></i>
                        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-success">
                            {{cart.count}}
                            <span class="visually-hidden">unread messages</span>
                        </span>

                        <!-- <span class="badge badge-success">{{cart.count}}</span> -->
                    </a>

                    <!-- Icon Avatar -->
                    <div class="dropdown me-3">
                        <a class="dropdown-toggle d-flex align-items-center text-reset" href="#" id="avatarDropdown" role="button" data-mdb-toggle="dropdown"
                            data-mdb-display="static" aria-expanded="false">
                            <!-- user icon -->
                            <i class="fa-solid fa-user me-2"></i>
                            <span th:if="${#request.remoteUser}">
                                <!-- limit username string to only 14 words. Ex: myusernameisreal... -->
                                <span class="fw-bold" th:text="${#strings.abbreviate(#request.remoteUser,14)}"></span>
                            </span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="avatarDropdown">
                            <!-- appear when login -->
                            <th:block th:if="${#request.remoteUser}">
                                <!-- <span sec:authentication="authorities"></span> -->
                                <!-- if user log in with OAuth2 GG and FB then hide Edit profile -->
                                <!-- and !hasAuthority('SCOPE_openid') and !hasAuthority('SCOPE_email') and !hasAuthority('SCOPE_public_profile') -->
                                <li sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER', 'ROLE_STAFF')">
                                    <a class="dropdown-item" th:href="@{/account/editprofile}">Chỉnh sửa tài khoản</a>
                                </li>
                                <li th:if="${#request.isUserInRole('ROLE_USER') or #request.isUserInRole('ROLE_STAFF') or #request.isUserInRole('ROLE_ADMIN')}">

                                    <a class="dropdown-item" th:href="@{/account/change_password}">Đổi mật khẩu</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/order/list}" ng-click="swich_order_list()">Đơn hàng</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/product/favorite}">Yêu thích</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/account/contact}">Liên hệ</a>
                                </li>
                                <!-- appear only for admin or staff -->
                                <li th:if="${#request.isUserInRole('ROLE_ADMIN') or #request.isUserInRole('ROLE_STAFF')}">
                                    <a class="dropdown-item" th:href="@{/admin/home/index}">Quản trị</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/security/logoff}">Đăng xuất</a>
                                </li>
                            </th:block>
                            <!-- appear when not login -->
                            <th:block th:unless="${#request.remoteUser}">
                                <li><a class="dropdown-item" th:href="@{/security/login/form}">Đăng nhập</a></li>
                                <li><a class="dropdown-item" th:href="@{/account/signup}">Đăng ký</a></li>
                                <li><a class="dropdown-item" th:href="@{/account/forgotpassword/form}">Quên mật khẩu</a></li>
                                <li><a class="dropdown-item" th:href="@{/account/contact}">Liên hệ</a></li>
                            </th:block>
                        </ul>
                    </div>

                    <!-- Icon dropdown -->
                    <!-- <div class="dropdown dropstart">
                        <a class="dropdown-toggle" href="#" id="langDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
                            <i class="flag-vietnam flag m-0"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="langDropdown">
                            <li>
                                <a class="dropdown-item" href="#">
                                    <i class="flag-vietnam flag"></i>Tiếng Việt
                                    <i class="fa fa-check text-success ms-2"></i>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider" />
                            </li>
                            <li>
                                <a class="dropdown-item" href="#"><i class="flag-united-kingdom flag"></i>English</a>
                            </li>
                        </ul>
                        </li>
                    </div> -->
                    <!-- Right elements -->
                </div>
                <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
    </header>
</body>

</html>