<form class="form" name="myform1">

    <!-- Text input -->
    <label for="form6Example3">ID</label>
    <div class="form-outline-primary mb-4">
        <input type="text" id="z" class="form-control" ng-model="form.id" name="name" disabled />
    </div>

    <!-- Text input -->
    <label for="form6Example3">Code</label>
    <div class="form-outline-primary mb-4">
        <input type="text" id="form6Example3" class="form-control" ng-model="form.code" name="code" required />
        <div class="text-danger" ng-show="myform1.code.$invalid">Vui lòng nhập code.</div>
    </div>

    <!-- Text input -->
    <label for="form6Example3">Ghi chú</label>
    <div class="form-outline-primary mb-4">
        <textarea id="description" class="form-control" ng-model="form.description" name="description" required></textarea>
        <div class="text-danger" ng-show="myform1.description.$invalid">Vui lòng nhập ghi chú.</div>
    </div>

    <!-- Text input -->
    <label for="form6Example3">Phần trăm giảm</label>
    <div class="form-outline-primary mb-4">
        <input type="number" id="form6Example4" class="form-control" ng-model="form.value" name="value" min="0" max="100"
            title="Giá trị thấp nhất là 0 cao nhất là 100" required />
        <div class="text-danger" ng-show="myform1.value.$invalid">Vui lòng nhập giá trị voucher.</div>
    </div>

    <!-- Text input -->
    <label for="form6Example3">Ngày hiệu lực</label>
    <div class="form-outline-primary mb-4">
        <input type="date" class="form-control" ng-bind="form.startDate" ng-value="form.startDate" name="start_date" required />
        <div class="text-danger" ng-show="myform1.start_date.$invalid">Vui lòng nhập ngày bắt đầu.</div>
    </div>

    <!-- Text input -->
    <label for="form6Example3">Ngày kết thúc</label>
    <div class="form-outline-primary mb-4">
        <input type="date" class="form-control" ng-bind="form.endDate" ng-value="form.endDate" name="end_date" required />
        <div class="text-danger" ng-show="myform1.end_date.$invalid">Vui lòng nhập ngày bắt đầu.</div>
    </div>

    <!-- Subit button -->
    <button ng-disabled="myform1.$invalid" ng-click="update()" type="submit" class="btn btn-success btn-block mb-4">Cập nhập</button>
</form>