<!-- Search form -->
<form class="d-none d-md-flex input-group w-auto my-auto">
    <input autocomplete="off" type="search" class="form-control rounded" placeholder='Tìm...' ng-model="searchTextVoucher" />
    <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
</form>
<div class="table-responsive">
    <table class="table">
        <thead class="table-light">
            <tr>
                <th>ID</th>
                <th>Code</th>
                <th>Description</th>
                <th>Giá trị giảm</th>
                <th>Đã dùng?</th>
                <th>Ngày hiệu lực</th>
                <th>Ngày kết thúc</th>
                <th>Ngày update</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="voucherLoading">
                <th colspan="8">
                    <div class="d-flex justify-content-center my-4">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </th>
            </tr>
            <tr ng-repeat="voucher in pager.items | filter: searchTextVoucher">
                <td>{{voucher.id}}</td>
                <td>{{voucher.code}}</td>
                <td>{{voucher.description}}</td>
                <td>{{voucher.value}}%</td>
                <td>{{voucher.isUsed === true ? 'Có':'Không'}}</td>
                <td>{{voucher.startDate | date:'dd-MM-yyyy'}}</td>
                <td>{{voucher.endDate | date:'dd-MM-yyyy'}}</td>
                <td>{{voucher.updatedAt | date:'dd-MM-yyyy'}}</td>
                <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-dark" ng-click="edit(voucher)">Edit</button>
                        <button type="button" class="btn btn-danger" ng-click="delete(voucher)">Del</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class=" d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item">
                    <button class="page-link" aria-label="Previous" ng-click="pager.first()">
                        <span aria-hidden="true">&lArr;</span>
                    </button>
                </li>
                <li class="page-item">
                    <button class="page-link" aria-label="Previous" ng-click="pager.prev()">
                        <span aria-hidden="true">&larr;</span>
                    </button>
                </li>
                <li class="page-item">
                    <a class="page-link">{{pager.page+1}} of {{pager.count}}</a>
                </li>
                <li class="page-item">
                    <button class="page-link" aria-label="Next" ng-click="pager.next()">
                        <span aria-hidden=" true">&rarr;</span>
                    </button>
                </li>
                <li class="page-item">
                    <button class="page-link" aria-label="Next" ng-click="pager.last()">
                        <span aria-hidden=" true">&rArr;</span>
                    </button>
                </li>
            </ul>
        </nav>
    </div>
</div>