<form class="form" enctype="multipart/form-data" name="myform" novalidate>

    <!-- Text input -->
    <label for="form6Example3">Code</label>
    <div class="form-outline-primary mb-4">
        <input type="text" id="form6Example3" class="form-control" ng-model="form_new.code" name="code" required />
        <div class="text-danger" ng-show="myform.code.$invalid">Xin hãy nhập code voucher.</div>
    </div>

    <!-- Text input -->
    <label for="form6Example3">Ghi chú</label>
    <div class="form-outline-primary mb-4">
        <textarea type="text" id="note" class="form-control" ng-model="form_new.description" name="note" required></textarea>
        <div class="text-danger" ng-show="myform.note.$invalid">Vui lòng nhập ghi chú.</div>
    </div>

    <!-- Text input -->
    <label for="form6Example3">Phần trăm giảm</label>
    <div class="form-outline-primary mb-4">
        <input type="number" id="form6Example4" class="form-control" ng-model="form_new.value" name="value" min="0" max="100" required />
        <div class="text-danger" ng-show="myform.value.$invalid">Vui lòng nhập giá trị voucher.</div>
    </div>
    <!-- Text input -->
    <label for="form6Example3">Ngày hiệu lực</label>
    <div class="form-outline-primary mb-4">
        <input type="date" class="form-control" ng-model="form_new.startDate" name="startDate" required />
        <div class="text-danger" ng-show="myform.startDate.$invalid">Vui lòng nhập ngày bắt đầu.</div>
    </div>
    <!-- Text input -->
    <label for="form6Example3">Ngày kết thúc</label>
    <div class="form-outline-primary mb-4">
        <input type="date" class="form-control" ng-model="form_new.endDate" name="endDate" required />
        <div class="text-danger" ng-show="myform.endDate.$invalid">Vui lòng nhập ngày kết thúc.</div>
    </div>

    <!-- Submit button -->
    <button ng-disabled="myform.$invalid" ng-click="create()" type="button" class="btn btn-success btn-block mb-4">Tạo mới</button>
</form>