<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: dynamic(~{::section})}">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DQLGRZ47JQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-DQLGRZ47JQ');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section>
        <div class="container py-2">
            <div class="row d-flex justify-content-center align-content-start align-items-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <div class="card rounded-4 shadow">
                        <div class="card-body p-md-5 p-sm-2">
                            <div class="mb-3">
                                <h2>Đặt lại mật khẩu</h2>
                            </div>

                            <form class="needs-validation" novalidate th:action="@{/account/change_password}" method="post">
                                <div class="mb-5">
                                    <div class="form-floating">
                                        <input class="form-control rounded-3" type="password" name="password" id="password" minlength="6" maxlength="20" required>
                                        <label>Nhập mật khẩu mới</label>
                                        <div class="invalid-feedback">Mật khẩu độ dài tối thiểu là 6</div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <input class="form-control rounded-3" type="password" required oninput="checkPasswordMatch(this);">
                                        <label>Xác nhận mật khẩu mới</label>
                                    </div>
                                </div>
                                <hr class="my-4">
                                <div class="d-grid gap-2 mb-4">
                                    <button type="submit" id="submit" class="btn btn-lg rounded-3 btn-success">Gửi xác nhận</button>
                                </div>
                                <div class="d-grid gap-2">
                                    <span class="badge rounded-pill badge-danger mb-2 p-3">[(${message})]</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        function checkPasswordMatch(fieldConfirmPassword) {
            if (fieldConfirmPassword.value != $("#password").val()) {
                fieldConfirmPassword.setCustomValidity("Mật khẩu không khớp!");
            } else {
                fieldConfirmPassword.setCustomValidity("");
            }
        }
    </script>
</body>

</html>