<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: dynamic(~{::section})}">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section class="container" ng-controller="user-ctrl">
        <div class="card">
            <div class="card-body">
                <form class="needs-validation" name="myform" novalidate>
                    <div class="form-group mb-3">
                        <label for="customFile">Ảnh:</label>
                        <figure>
                            <img ng-src="{{ (form.image_url.startsWith('upload')?'/upload/images/':(form.image_url.startsWith('https://')?'':'/assets/images/')) + (form.image_url || 'default-user.jpg') }}"
                                class="img-fluid img-thumbnail" width="120" height="120">
                        </figure>
                        <input ng-hide="form.image_url.startsWith('https://')" ng-model="form.image_url" onchange="angular.element(this).scope().imageChanged(this.files)" type="file" class="form-control"
                            id="customFile" />
                    </div>
                    <div class="row">
                        <div class="form-group col-6 mb-2">
                            <label for="id">Mã người dùng</label>
                            <input ng-model="form.id" type="text" name="id" class="form-control" required disabled>
                            <label ng-show="myform.id.$invalid" class="badge badge-danger my-2 p-2">Xin hãy nhập Id </label>
                        </div>
                        <div class="form-group col-6 mb-2">
                            <label for="username">Tên đăng nhập</label>
                            <input ng-model="form.username" name="txtName" type="text" class="form-control" placeholder="Tên đăng nhập.." required disabled>
                            <label ng-show="myform.txtName.$invalid" class="badge badge-danger my-2 p-2">Xin hãy nhập tên tài khoản! </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6 mb-2">
                            <label for="fullname">Họ và tên</label>
                            <input ng-model="form.fullname" name="fullname" type="text" class="form-control" placeholder="Họ và tên ..." required>
                            <label ng-show="myform.fullname.$invalid" class="badge badge-danger my-2 p-2">Xin hãy nhập họ và tên ! </label>
                        </div>
                        <div class="form-group col-6 mb-2">
                            <label for="email">Email </label>
                            <input ng-model="form.email" type="text" name="txtEmail" class="form-control" placeholder="name@example.com" ng-disabled="form.image_url.startsWith('https://')" required>
                            <label ng-show="myform.txtEmail.$invalid" class="badge badge-danger my-2 p-2">Xin hãy nhập email! </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-6 mb-2">
                            <label for="phone">Số điện thoại</label>
                            <input ng-model="form.phone" name="txtPhone" type="tel" id="floatingPhone" class="form-control" placeholder="0xxxxxxxxx" required
                                pattern="(\+84|0)\d{9,10}">
                            <label ng-show="myform.txtPhone.$invalid" class="badge badge-danger my-2 p-2">Xin hãy nhập SDT!</label>
                        </div>
                        <div class="form-group col-6 mb-2">
                            <label for="address">Địa chỉ</label>
                            <input ng-model="form.address" name="txtAddress" type="text" class="form-control" placeholder="Địa chỉ.." required>
                            <label ng-show="myform.txtAddress.$invalid" class="badge badge-danger my-2 p-2">Xin hãy nhập địa chỉ! </label>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="form-group col text-center">
                            <button ng-disabled="myform.$invalid" ng-click="update()" type="submit" id="submit" class="btn btn-primary">
                                <i class="fas fa-save"></i> Lưu
                            </button>
                            <button ng-click="reset()" type="submit" class="btn btn-danger">
                                Xóa hết
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

</body>

</html>