<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: dynamic(~{::section})}">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section>
        <div class="container py-2">
            <div class="row d-flex justify-content-center align-content-start align-items-center">
                <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                    <div class="card rounded-4 shadow">
                        <div class="card-body p-md-5 p-sm-2">
                            <h2 class="fw-bold mb-4">Quên mật khẩu</h2>
                            <form th:action="@{/account/forgotpassword}" method="post" novalidate class="g-3 needs-validation" name="forgotForm" >
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <input type="email" id="emailForgot" class="form-control rounded-3" name="email" required>
                                        <label for="emailForgot">Nhập địa chỉ Email đã đăng ký</label>
                                        <div class="invalid-feedback">Hãy nhập địa chỉ email!</div>
                                    </div>
                                </div>

                                <div class="d-grid gap-2 mb-2">
                                    <small class="text-dark">
                                        <input class="form-check-input" type="checkbox" name="term" value="" id="termCheck" required />
                                        <label class="form-check-label" for="termCheck">
                                            Đồng ý các <a href="" data-mdb-toggle="modal" data-mdb-target="#termModal"><b>điều khoản</b></a> của dịch vụ
                                        </label>
                                        <div class="invalid-feedback">Bạn phải đồng ý với các điều khoản của dịch vụ.</div>
                                    </small>
                                    <button type="submit" class="btn btn-lg rounded-3 btn-success">Gửi xác nhận</button>
                                </div>
                                <div class="d-grid gap-2">
                                    <span class="message badge rounded-pill badge-danger mb-2 p-3">[(${message})]</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>