<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{index :: dynamic(~{::section})}">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <section>
        <div class="row justify-content-center align-content-start align-items-center">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                <div class="card rounded-4 shadow">
                    <div class="card-body p-md-5 p-sm-2 ">
                        <h2 class="fw-bold mb-4">Đăng ký </h2>
                        <form th:action="@{/account/register}" method="post" class="row g-3 needs-validation" th:object="${user}" name="formSignup" novalidate>
                            <div>
                                <div class="mb-4 py-1">
                                    <div class="form-outline">
                                        <input name="username" type="text" th:field="*{username}" id="floatingUsername" class="form-control form-control-lg rounded-3" required />
                                        <label class="form-label" for="floatingUsername">Tên đăng nhập </label>
                                        <div class="invalid-feedback">Hãy nhập tên đăng nhập!</div>
                                    </div>
                                </div>

                                <div class="mb-4 py-1">
                                    <div class="form-outline">
                                        <input type="email" name="mail" th:field="*{email}" id="floatingEmail" class="form-control form-control-lg rounded-3" required />
                                        <label class="form-label" for="floatingEmail">E-mail </label>
                                        <div class="invalid-feedback">Hãy nhập địa chỉ email!</div>
                                    </div>
                                </div>

                                <div class="mb-4 py-1">
                                    <div class="form-outline">
                                        <input type="password" id="password" name="password" th:field="*{password}" class="form-control form-control-lg rounded-3" minlength="6" maxlength="15" required />
                                        <label class="form-label" for="password">Mật khẩu </label>
                                        <div class="invalid-feedback">Hãy nhập mật khẩu!</div>
                                    </div>
                                </div>

                                <div class="mb-4 py-1">
                                    <div class="form-outline">
                                        <input type="password" name="repass" id="floatingRetype" class="form-control form-control-lg rounded-3" minlength="6" maxlength="15" oninput="checkPasswordMatch(this);" required />
                                        <label class="form-label" for="floatingRetype">Nhập lại mật khẩu </label>
                                        <div class="invalid-feedback">Hãy nhập lại mật khẩu!</div>
                                    </div>
                                </div>

                                <div class="d-grid gap-2 mb-2">
                                    <small class="text-dark">
                                        <input class="form-check-input" type="checkbox" value="" id="termCheck" required />
                                        <label class="form-check-label" for="termCheck">
                                            Đồng ý các <a href="" data-mdb-toggle="modal" data-mdb-target="#termModal"><b>điều khoản</b></a> của dịch vụ
                                        </label>
                                        <div class="invalid-feedback">Bạn phải đồng ý với các điều khoản của dịch vụ.</div>
                                    </small>
                                    <button type="submit" name="ok" ng-disabled="formSignup.$invalid" class="btn btn-lg rounded-3 btn-success">Đăng Ký</button>
                                </div>

                                <hr class="my-4">
                                <h2 class="fs-5 fw-bold mb-3 text-center">Đăng nhập với</h2>
                                <a th:href="@{/oauth2/authorization/google}" class="w-100 py-2 mb-2 btn btn-outline-danger rounded-3">
                                    <i class="fab fa-google me-2"></i>Đăng nhập với tài khoản Google
                                </a>
                                <a th:href="@{/oauth2/authorization/facebook}" class="w-100 py-2 mb-4 btn btn-outline-primary rounded-3">
                                    <i class="fab fa-facebook me-2"></i>Đăng nhập với tài khoản Facebook
                                </a>
                                <div class="d-grid gap-2">
                                    <span class="message badge rounded-pill badge-danger mb-2 p-3">[(${message})]</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>