<div class="row justify-content-between">
    <form class="col-md-5 col-sm-12 mb-4" name="formcate" enctype="multipart/form-data" novalidate>
        <div class="text-center">
            <strong>Danh mục</strong>
        </div>
        <div class="mb-2">
            <img ng-src="{{ (form.image_url.startsWith('upload')?'/upload/images/':'/assets/images/') + (form.image_url || 'default-category.jpg') }}"
                style="max-width: 20vw; max-height: 20vh;" alt="Category image">
        </div>
        <div class="mb-4">
            <input type="file" class="form-control" id="customFile" ng-model="form.image_url"
                onchange="angular.element(this).scope().imageChanged(this.files)" />
        </div>
        <div class="form-outline-primary mb-4">
            <label class="form-label" for="form12">Tên danh mục</label>
            <input ng-model="form.name" name="name" type="text" ng-keyup="checkCateValid()" id="form12" class="form-control" required />
            <div class="text-danger" ng-show="checkCateValid()">Tên danh mục đã tồn tại.</div>
			<div class="text-danger" ng-show="formcate.name.$invalid">Làm ơn nhập tên danh mục hợp lệ.</div>
        </div>

        <!-- Submit button -->
        <button ng-disabled="formcate.$invalid || checkCateValid()" ng-click="create()" type="submit" class="btn btn-primary btn-block">Tạo mới</button>

    </form>

    <!-- sub-category -->
    <form class="col-md-5 col-sm-12" name="formsubcate" novalidate>
        <div class="text-center">
            <strong>Danh mục phụ</strong>
        </div>
        <div class="form-outline-primary mb-2">
            <label class="form-label" for="form12">List danh mục</label><br>
            <select class="select" ng-model="formsub.category.id">
                <option ng-if="category.length === 0" disabled selected>Đang load...</option>
                <option value="{{cate.id}}" ng-repeat="cate in category">{{cate.name}}</option>
            </select>
        </div>
        <div class="form-outline-primary mb-4">
            <label class="form-label" for="form12">Tên danh mục phụ</label>
            <input ng-model="formsub.name" name="name" ng-keyup="checkSubCateValid()" type="text" id="form12" class="form-control" required />
            <div class="text-danger" ng-show="checkSubCateValid()">Tên danh mục phụ đã tồn tại.</div>
            <div class="text-danger" ng-show="formsubcate.name.$invalid">Làm ơn nhập tên danh mục phụ hợp lệ.</div>
        </div>
        <!-- Submit button -->
        <button ng-disabled="formsubcate.$invalid || checkSubCateValid()" ng-click="createSubCate()" type="submit" class="btn btn-primary btn-block">Tạo mới</button>
    </form>
</div>