<!-- footer -->
<div class="pt-4 bg-light">
    <div class="container text-center text-md-left bg-light">
        <div class="container-fluid pt-4">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">
                        <div class="figure">
                            <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" class="figure-img img-fluid rounded  my-auto" width="100" alt="...">
                        </div>
                    </h5>
                    <p>ShoeShy (NYSE: SHOESHY) helps global fashion avocates find the best products in the shoes industries, we provide extremely on-point services
                        and products that can please even the most doubful. Visit ShoeShy now
                    </p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Popular Category</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/" class="text-black-50 text-decoration-none">Products</a>
                        </li>
                        <li>
                            <a href="/" class="text-black-50 text-decoration-none">Services</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50 text-decoration-none">Shipping Fees</a>
                        </li>
                        <li>
                            <a href="mailto:balisongian@gmail.com" class="text-black-50 text-decoration-none">Feedback</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Our company</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!" class="text-black-50 text-decoration-none ">About ShoeShy</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50 text-decoration-none" data-bs-toggle="modal" data-bs-target="#termModal">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#!" class="text-black-50 text-decoration-none" data-bs-toggle="modal" data-bs-target="#careerModal">Careers</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="text-center py-3">© 2022 Copyright:
                <a href="https://github.com/CipherianCorporation" target="_blank"> CipherianCorporation</a>
            </div>
        </div>
    </div>
</div>