<div class="mb-4">
    <!-- Sort Dropdown -->
    <div class="row justify-content-end">
        <div class="btn-group shadow-0 mb-2 col-md-3">
            <button type="button" class="btn btn-light dropdown-toggle" data-mdb-toggle="dropdown" aria-expanded="false">
                Sort by
            </button>
            <ul class="dropdown-menu dropdown-menu-lg-end">
                <li><a class="dropdown-item" href="#">Price: Asc</a></li>
                <li><a class="dropdown-item" href="#">Price: Desc</a></li>
                <li><a class="dropdown-item" href="#">Newest</a></li>
                <li><a class="dropdown-item" href="#">Best sellers</a></li>
            </ul>
        </div>
    </div>
    <!-- End Sort Dropdown -->

    <!-- product list -->
    <div class="row row-cols-1 row-cols-md-4 g-4 mb-4">
        <div class="col">
            <div class="card">
                <a href="#!product-detail">
                    <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3287816841262-d57ea32e28e95fd45eafce35505774d9.jpg"
                        class="card-img-top" alt="Hollywood Sign on The Hill" />
                </a>
                <div class="card-body">
                    <h5 class="card-title">Giày Thể Thao Nam ShoeShy - 5382</h5>
                    <p>BLACK</p>
                    <p class="card-text"><sup>đ</sup>199.000</p>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="#!product-detail">
                    <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3287816841262-d57ea32e28e95fd45eafce35505774d9.jpg"
                        class="card-img-top" alt="Hollywood Sign on The Hill" />
                </a>
                <div class="card-body">
                    <h5 class="card-title">Giày Thể Thao Nam ShoeShy - 5382</h5>
                    <p>BLACK</p>
                    <p class="card-text"><sup>đ</sup>199.000</p>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="#!product-detail">
                    <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3287816841262-d57ea32e28e95fd45eafce35505774d9.jpg"
                        class="card-img-top" alt="Hollywood Sign on The Hill" />
                </a>
                <div class="card-body">
                    <h5 class="card-title">Giày Thể Thao Nam ShoeShy - 5382</h5>
                    <p>BLACK</p>
                    <p class="card-text"><sup>đ</sup>199.000</p>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="#!product-detail">
                    <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3287816841262-d57ea32e28e95fd45eafce35505774d9.jpg"
                        class="card-img-top" alt="Hollywood Sign on The Hill" />
                </a>
                <div class="card-body">
                    <h5 class="card-title">Giày Thể Thao Nam ShoeShy - 5382</h5>
                    <p>BLACK</p>
                    <p class="card-text"><sup>đ</sup>199.000</p>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <a href="#!product-detail">
                    <img src="https://img.mwc.com.vn/giay-thoi-trang?&w=450&h=450&FileInput=//Upload/2022/03/z3287816841262-d57ea32e28e95fd45eafce35505774d9.jpg"
                        class="card-img-top" alt="Hollywood Sign on The Hill" />
                </a>
                <div class="card-body">
                    <h5 class="card-title">Giày Thể Thao Nam ShoeShy - 5382</h5>
                    <p>BLACK</p>
                    <p class="card-text"><sup>đ</sup>199.000</p>
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end product list -->

    <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <div class="justify-content-center btn-group btn-group-xs">
                <button class="btn btn-secondary btn-sm" ng-click="pager.first()"> &lArr;</button>
                <button class="btn btn-secondary btn-sm" ng-click="pager.prev()">&larr; </button>
                <button class="btn btn-secondary btn-sm">{{pager.page+1}} of {{pager.count}}</button>
                <button class="btn btn-secondary btn-sm" ng-click="pager.next()"> &rarr; </button>
                <button class="btn btn-secondary btn-sm" ng-click="pager.last()">&rArr; </button>
            </div>
        </nav>
    </div>
</div>