<div class="card">
    <div class="card-header">
        <div class="btn-group float-end">
            <a href="/admin/orders/export-pdf" class="btn btn-secondary">PDF</a>
            <a href="/admin/orders/export-excel" class="btn btn-secondary">EXCEL</a>
            <a href="/admin/orders/export-csv" class="btn btn-secondary">CSV</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <select class="form-select" aria-label="User select">
                <option>
                    <div class="d-flex justify-content-center my-4">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </option>
                <option>Nguyễn Thanh Tâm</option>
            </select>
            <table class="table">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã Đơn Hàng.</th>
                        <th>Ngày Đặt Hàng</th>
                        <th>Trạng thái đơn hàng</th>
                        <th>Địa Chỉ Giao Hàng</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in list_items">
                        <td>{{$index+1}}</td>
                        <td>{{item.id}}</td>
                        <td>{{item.createdAt}}</td>
                        <td>{{item.orderStatus.name}}</td>
                        <td>{{item.address}}</td>
                        <td>
                            <button ng-show="item.orderStatus.name == 'processing'" class="btn btn-secondary" ng-click="update_status(item)">
                                Success
                            </button>
                            <button class="btn btn-secondary" ng-click="order_detail(item)">
                                <i class="fas fa-arrow-right"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>